html {
  background-color: #f5f5f5;
  color: #424242;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  font-family: sans-serif;
}

button,
input[type="button"] {
  background-color: #38c172;
  color: white;
  border: 0px;
  font-size: 0.8em;
  margin-right: 0.5em;
  border-radius: 2px;
  padding: 0.5em 0.75em;
}

button:hover,
input[type="button"]:hover {
  background-color: #1f9d55;
  cursor: pointer;
}
